###################################################
# Operating system files.
###################################################
.DS_Store

###################################################
## Unity files.
###################################################
log.txt

###################################################
# Visual Studio
###################################################
*.csproj
*.sln
*.userprefs

/iosbuild/
/.vs/
/Library/
/Temp/
/Debug/
/iPhoneBuild/
/UnityPackageManager/
/obj/
